name: publish

on:
  push:
    tags:
    - "v*.*.*"

jobs:
  build:
    runs-on: windows-latest

    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v6

    - uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '10.0.x'

    - run: dotnet publish MiHoYoDownloader -p:DebugType=none -p:RuntimeIdentifier=win-x64 --framework net10.0

    - uses: softprops/action-gh-release@v2
      with:
        files: MiHoYoDownloader/bin/Release/net10.0/win-x64/publish/MiHoYoDownloader.exe